<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Fabillio" value="https://nuget.pkg.github.com/jamesfarrugia96/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <Fabillio>
        <add key="Username" value="token" />
        <add key="ClearTextPassword" value="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" />
    </Fabillio>
  </packageSourceCredentials>
</configuration>